@import '../../styles/variables.scss';

.button {
  background-color: $primary;
  box-shadow: 0px 50px 100px -20px #32325D40;
  color: $white;
  padding: 1.375rem;
  paddingBlock: 1.375rem;
  border-radius: 8px;
  border: 0;
  font-weight: 600;
  font-size: $font-size-base;
  line-height: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: lighten($primary, 10%);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }

  &.secondary {
    background-color: $gray-400;

    &:hover {
      background-color: lighten($gray-400, 10%);
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
@import '../../styles/variables.scss';

.button {
  background-color: $primary;
  box-shadow: 0px 50px 100px -20px #32325D40;
  color: $white;
  padding: 1.375rem;
  padding-block: 1.375rem;
  border-radius: 8px;
  border: 0;
  font-weight: 600;
  font-size: $font-size-base;
  line-height: 1.4rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover {
    background-color: lighten($primary, 10%);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }

  &.secondary {
    background-color: $gray-400;

    &:hover {
      background-color: lighten($gray-400, 10%);
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
