$primary: #FF8310;
$gray-700: #191A20;
$gray-600: #232323;
$gray-500: #22232C;
$gray-400: #393939;
$gray-300: #373737;
$gray-250: #2B2B2B;
$gray-200: #CCCCCC;
$gray-100: #F0F0F0;
$white: #FFFFFF;

$font-primary: 'Poppins';
$font-secondary: 'IBM Plex Sans';

$font-size-xs: 0.75rem;   
$font-size-sm: 0.875rem; 
$font-size-base: 1rem;  
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 1.875rem;
$font-size-4xl: 2.25rem;