@import '../../styles/variables.scss';

.shoppingBackpack {
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: 0;

  cursor: pointer;
  gap: 10px;

  p {
    font-family: $font-secondary;
    font-size: $font-size-xl;
    color: $white;
  }
}