@import '../../styles/variables.scss';

.product {
  display: flex;
  flex-direction: column;
  width: 21.5625rem;

  padding: 1.625rem 1.5rem;

  background: $gray-700;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px #0000001A;

  @media (max-width: 1400px) {
    width: 20rem;
  }

  @media (max-width: 1050px) {
    width: 18rem;
  }

  @media (max-width: 700px) {
    width: 16rem;
  }

  .containerImage {
    margin-bottom: 35px;

    img {
      border-radius: 8px;

      @media (max-width: 1400px) {
        width: 100%;
        height: auto;
      }
    }
  }

  .productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;

    margin-bottom: 1.5rem;

    h2 {
      font-size: $font-size-lg;
      color: $white;
      font-weight: 500;

      margin-bottom: 0.625rem;
    }

    p {
      text-align: justify;
      font-size: $font-size-xs;
      color: $gray-200;
      line-height: 0.9375rem;
      font-weight: 300;
    }
  }
  
  .price {
    display: flex;
    align-items: center;

    img {
      margin-right: 0.625rem;
    }

    strong {
      font-size: $font-size-xl;
      color: $gray-100;
      line-height: 1.375rem;
      font-weight: 600;
    }
  }
}
