@import '../styles/variables.scss';

.container {
  .buttonMoreItemsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    display: flex;
    justify-content: center;

    margin-bottom: 16px;
    margin-top: 64px;

    font-size: $font-size-sm;
    color: hsla(0, 0%, 100%, 0.44);
    font-weight: 400;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 345px));
    justify-content: center;
    
    gap: 25px;
    margin-top: 32px;
    margin-bottom: 64px;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, minmax(0, 345px));
    }

    @media (max-width: 1050px) {
      grid-template-columns: repeat(2, minmax(0, 345px));
    }

    @media (max-width: 700px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}