@import '../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 1.4688rem 2.6875rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.21);

  .shoppingCart {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    gap: 10px;

    p {
      font-family: $font-secondary;
      font-size: $font-size-xl;
    }
  }
}
